div {
    width: 200px;
    height: 200px;
}

h1 {
    width: 410px;
    height: 40px;
    background: #bde0fe;
    padding-left: 100px;
    padding-top: 50px;
    margin-bottom: 0px;
}

/*margin = spacing between boders going out*/

body {
    margin: 0;
    /*this is the total outside of the page. This is often done*/
}

#one {
    background-color: #ffafcc;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 50px;
}

#two {
    background-color: #e9edc9;
    border-color: #e9c46a;
    border-width: 3px;
    border-style: dashed;
    border-left-color: aqua;
    /*above #one has used box-sizing so it doesnt protrude
    outside the required 200x200 box*/
    padding-right: 50px;
}

#three {
    background-color: #d5bdaf;
    border: 4px solid black;
    /*above command is shorthand in a particular order*/
    border-radius: 10%;
    /*border-radius at 50% will make a circle*/
    margin: 100px
}

button {
    padding: 20px;
    /*all sides*/
}

/*padding = spacing between content and it's border*/

#but1 {
    padding: 10px 20px;
    /*vertical & horizontal in that order*/
}

#but2 {
    padding: 10px 20px 30px 40px;
    /*top, right, bottom, left in that order*/
}