button {
    font-size: 30px;
    background-color: green;
}

h1,
h2 {
    color: magenta;
}

#LogIn {
    background-color: red;
    color: white;
}

span {
    color: maroon;
}

.tags {
    background-color: moccasin;
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

.post a {
    color: maroon;
    text-decoration: none;
    font-weight: 700;
}

h2+button {
    font-size: 20px;
}

footer>a {
    color: purple;
}

input[type="password"] {
    color: red;
}

.post button:hover {
    background-color: red;
    color: teal;
}

#LogIn:hover {
    background-color: green;
}

#signup:hover {
    background-color: red;
}

a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: black;
}

.post {
    background-color: bisque;
}

body {
    background-color: burlywood;
}

.post:nth-of-type(2n) {
    background-color: thistle;
}

h2::first-letter {
    font-size: 50px;
}

span a::selection {
    background-color: red;
}

/*button {
    background-color: magenta !important;
} THIS WILL IGNORE SPECIFICITY - DONT USE OFTEN/AT ALL*/

/*or use :nth-child(even) or :nth-child(odd)*/